/*------------------------------------*\
    #1 - RESET & CLEARFIX
\*------------------------------------*/
/**
* Eric Meyer's CSS Reset + Nicolas Gallagher's Clearfix
* https://github.com/reefat/css-reset
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    outline: 0;
    padding: 0;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
main, section, article, footer, header {
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
 
 
 
 
 
/*------------------------------------*\
    #1 - GLOBAL
\*------------------------------------*/
 

body {
    background-color: #121617;
    color: #8b8b8b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    -webkit-user-select: none;
}

h2 {
    color: #2e7e96;
    margin-bottom: 10px;
}
.wrapper {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    height: 610px;
    padding-top: 63px;
    overflow: hidden;
    width: 268px;
}
.divider {
    border-top: 1px solid #283138;
    clear: both;
    display: block;
    height: 1px;
    margin: 10px auto;
    width: 100%;
}
.tool--wrap {
    padding: 8px 5px 20px 5px;
    position: relative;
}

.icon--wrap {
    padding: 10px 5px 20px 10px;
    position: relative;
}
    .tool--wrap li {
        cursor: pointer;
        overflow: hidden;
    }
    .tool--wrap li p {
        margin-top: 10px;
    }
    .tool--wrap span.headline {
        display: inline-block;
        margin-bottom: 10px;
    }
.footer {
    color: #515151;
    left: 0;
    padding: 11px;
    position: absolute;
    top: 583px;
    width: 268px;
}

.navigation {
    padding: 0 5px;
}
    .navigation li {
        color: #949494;
        cursor: pointer;
        font-size: 12px;
        overflow: hidden;
    }
    .navigation li:first-child {
        width: 40px;
    }
    .navigation li:first-child + li {
        width: 80px;
    }
    .navigation li:first-child + li + li {
        width: 80px;
    }
    .navigation li:first-child + li + li + li {
        width: 50px;
    }
    .navigation li.active {
        color: #2e7e96;
    }
        .navigation a {
            display: block;
            padding: 7px 0 8px 0;
        }
        .navigation img {
            margin-bottom: 5px;
        }  
.meta-navigation {
    text-align: center;
}
    .meta-navigation li {
        cursor: pointer;
        padding: 9px 5px 10px 5px;
        vertical-align: top;
        width: 125px;
    }
        .meta-navigation li:first-child {
            text-align: left;
        }
        .meta-navigation li:first-child + li {
            text-align: right;
        }
        .meta-navigation img {
            margin-right: 5px;
            vertical-align: middle;
        }
        .meta-navigation li span {
            vertical-align: middle;
        }
.meta-option {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
    .meta-option img {
        margin-right: 5px;
        vertical-align: middle;
    }
.inline li {
    display: inline-table;
}
.inline span.image {
    display: inline-block;
    text-align: center;
}
.center {
    text-align: center;
}
ol.standard {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.border-bot,
.border-top {
    position: relative;
}
.border-bot:after {
    border-bottom: 1px solid rgba(4, 10, 11, 0.4);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.04);
    bottom: 1px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
}
 
.label-top {
    color: #74828e;
    display: inline-block;
    line-height: 1em;
    margin-bottom: 10px;
}
.label-left {
    color: #74828e;
    display: inline-block;
    line-height: 1.3em;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 88px;
}

input
input:active,
input:focus,
input:hover {
    outline: none;
}
 
       
       
       
/*------------------------------------*\
    #1 - INDEX
\*------------------------------------*/

.tool--add-layer {}
    .tool--add-layer label {
        position: relative;
        top: -12px;
        vertical-align: bottom;
    }
    .tool--add-layer .col {
        display: inline-block;
        margin: 0 4px;
        vertical-align: top;
    }
        .tool--add-layer input {
            background-color: #434549;
            border: 1px solid #1b1c1d;
            border-radius: 4px;
            color: #dfdfdf;
            font-size: 14px;
            line-height: 1em;
            padding: 7px;
            text-align: center;
            width: 62px;
        }
        .tool--add-layer button {
            background-color: #2c3132;
            border: 1px solid #1b1c1d;
            border-radius: 4px;
            color: #2e7e96;
            font-size: 11px;
            line-height: 12px;
            padding: 9px;
            text-align: center;
            width: 78px;
        }
        .tool--add-layer .label-top {
            margin-top: 13px;
        }
        .tool--add-layer button:hover {
            border: 1px solid #2e7e96;
        }
        
.tool--surface li {
    border: 1px solid #1b1c1d;
    border-radius: 4px;
    margin-left: 13px;
    margin-bottom: 10px;
}
.tool--surface li:hover {
    border: 1px solid #2e7e96;
}
.tool--surface li:first-child {
    margin-left: 0;
}
    .tool--surface li img {
        vertical-align: top;
    }

.tool--grid li {
    border: 1px solid #1b1c1d;
    border-radius: 4px;
    margin-left: 11px;
    margin-bottom: 10px;
}
.tool--grid li:first-child {
    margin-left: 0;
}.tool--grid li:hover {
    border: 1px solid #2e7e96;
}
    .tool--grid li img {
        vertical-align: top;
    }
    .switch {
        cursor: pointer;
        position: absolute;
        right: 14px;
        top: 8px;
    }

.tool--iso-transform li {
    background-color: #2c3132;
    border: 1px solid #1b1c1d;
    border-radius: 4px;
    margin-left: 8px;
}
.tool--iso-transform li:hover {
    border: 1px solid #2e7e96;
}
.tool--iso-transform li:first-child {
    margin-left: 0;
}
    .tool--iso-transform li img {
        vertical-align: top;
    }
   
   
/*------------------------------------*\
    #1 - ELEMENTS
\*------------------------------------*/
 
.tool--layer-and-brushes .col {
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
}
.tool--layer-and-brushes .col + .col {
    width: 173px;
    margin: 0;
}
.tool--layer-and-brushes img {
    cursor: pointer;
    float: left;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
} 
.tool--layer-and-brushes img:hover {
    border: 1px solid #2e7e96;
}
    .tool--layer-and-brushes button {
        background-color: #2c3132;
        border: 1px solid #1b1c1d;
        border-radius: 4px;
        color: #2e7e96;
        font-size: 24px;
        line-height: 1em;
        padding: 4px 0 3px 0;
        text-align: center;
        width: 65px;
    }
    .tool--layer-and-brushes button:hover {
        border: 1px solid #2e7e96;
        color: #2e7e96;
    }
    
.tool--elements {
    max-height: 360px;
    overflow: auto;
}
    .tool--elements li {
        border: 1px solid rgba(0,0,0,0);
        border-radius: 4px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    .tool--elements li:hover {
        border: 1px solid #2e7e96;
    }
        .tool--elements li img {
            vertical-align: top;
        }
    .rechts {
    margin-right: 5px;
}

 
/*------------------------------------*\
    #1 - TEXTURES
\*------------------------------------*/

.tool--brushes img {
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
    cursor: pointer;
} 
.tool--brushes img:hover {
    border: 1px solid #2e7e96;
}

.tool--textures {
    max-height: 230px;
    overflow: auto;
}
    .tool--textures li {
        border: 1px solid rgba(0,0,0,0);
        border-radius: 4px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    .tool--textures li:hover {
        border: 1px solid #2e7e96;
    }
        .tool--textures li img {
            vertical-align: top;
        }
    

.tool--special-brushes,
.tool--random-textures {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.tool--special-brushes li,
.tool--random-textures li {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0);
    margin-left: 8px;
}
.tool--special-brushes li:hover,
.tool--random-textures li:hover {
    border: 1px solid #2e7e96;
}
.tool--special-brushes li:first-child,
.tool--random-textures li:first-child {
    margin-left: 0;
}
    .tool--special-brushes li img,
    .tool--random-textures li img {
        vertical-align: top;
    }
   
   
   
   
/*------------------------------------*\
    #1 - ICONS
\*------------------------------------*/
 
.tool--icons {
    max-height: 368px;
    overflow: auto;
    margin-bottom: 15px;
}
    .tool--icons li {
        background-color: #2d2d2d;
        border-radius: 4px;
        height: 70px;
        margin-bottom: 5px;
        margin-right: 2px;
        width: 70px;
    }
    .tool--icons li:nth-child(3n) {
        margin-right: 0;
    }
 
   
   
   
   
/*------------------------------------*\
    #1 - MODAL
\*------------------------------------*/

.jquery-modal.blocker {
    opacity: 1 !important;
}
 
.modal {
    background-color: #1e1e1e !important;
    border-radius: 0 !important;
    box-sizing: border-box !important;
    color: #fff;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    height: 667px !important;
    padding: 20px 10px !important;
    width: 100% !important;
}
.modal-close {
    position: absolute;
    top: 14px;
    right: 10px;
}
.modal h2 {
    font-size: 18px;
}
.modal-help,
.modal-loading {
    display: none;
}
.modal-help {}
    .modal-help ol {
        height: 530px;
        overflow: auto;
        padding-right: 20px;
    }
        .modal-help li {
            counter-increment: step-counter;
            color: #aeaeae;
            font-size: 13px;
            line-height: 1.1em;
            margin-top: 10px;
            padding-left: 25px;
            position: relative;
        }
        .modal-help li:before {
            content: counter(step-counter) ".";
            color :#fff;
            left: 0;
            margin-right: 5px;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
        }
        .modal-help li:first-child {
            margin-top: 0;
        }
    .modal-help .divider {
        margin: 20px 0;
    }
 
.modal-loading {
    display: none;
    text-align: center;
}
.modal-loading.modal {
    display: table;
}
    .modal-loading div {
        display: table-cell;
        vertical-align: middle;
    }
    .modal-loading img {
        margin-top: -20px;
    }
   
   
   
   


/*------------------------------------*\
    input
\*------------------------------------*/

input
input:active,
input:focus,
input:hover {
    outline: none;
}

input, button {
    font-family: Arial,Helvetica,sans-serif;
}
   
/*------------------------------------*\
    #1 - UI ELEMENTS
\*------------------------------------*/
 
.ui--slider-wrap .ui--box {
    background-color: #151513;
    border-radius: 5px;
    display: inline-block;
    width: 80%;
}
    .ui--slider {
        background: none;
        margin: 0 auto;
        width: 94%;
    }
        .ui-state-focus {
            border: 0;
            outline: none;
        }
        .ui-widget-content {
            background: none;
            border: 0;
            border-radius: 5px;
            box-sizing: border-box;
            height: 10px;
            margin-left: 10px;
        }
            .ui-slider .ui-slider-handle {
                background: none;
                background-color: #42454a;
                border: 0;
                border-radius: 50%;
                height: 8px;
                top: 1px;
                width: 8px;
            }
.ui--slider-wrap .ui--result {
    float: right;
    margin-right: 10px;

}
   
.uninstall {cursor: pointer;}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(21,21,19);
    -webkit-box-shadow: inset -1px 0 0 0 rgb(57,57,59);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(66,69,74);
    -webkit-box-shadow: inset 0 0 0 1px rgb(21,21,19);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(66,69,74);
    }

#isocons {
    
    }
/* icon_lib*/

/*#myIconLib label { color: #5f6b70; margin: 0px 0px 4px 0px; }*/
#myIconLib .section { width: 248px; padding: 10px 0px 0px 0px;}
#myIconLib .createyourown .icons { height: 370px; overflow: auto; margin-bottom: 10px; margin-top: 10px;}
#myIconLib .createyourown .icons span { width: 70px; height: 70px; display: inline-block; background: no-repeat 0 0; border-radius: 5px; border: 1px ;  background: #202224; margin: 0px 8px 4px 0px; position: relative; background-size: 70px 70px; }
#myIconLib .createyourown .icons span:hover { border-color: #2e7e96; cursor: pointer; }